<html>

<head>
    <title>
        voting poll
    </title>
</head>

<body>
    <style type="text/css">
        .inputGroup {
            background-color: #E4E4E4;
            display: block;
            margin: 10px 0;
            position: relative;
        }

        .inputGroup label {
            padding: 12px 30px;
            width: 100%;
            display: block;
            text-align: left;
            color: #3C454C;
            cursor: pointer;
            position: relative;
            z-index: 2;
            transition: color 200ms ease-in;
            overflow: hidden;
        }

        .inputGroup label:before {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            content: '';
            background-color: #48ba06;

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
            opacity: 0;
            z-index: -1;
        }

        .inputGroup label:after {
            width: 32px;
            height: 32px;
            content: '';
            border: 2px solid #D1D7DC;
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
            background-repeat: no-repeat;
            background-position: 2px 3px;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: all 200ms ease-in;
        }

        .inputGroup input:checked~label {
            color: #fff;
        }

        .inputGroup input:checked~label:before {
            transform: translate(-50%, -50%) scale3d(56, 56, 1);
            opacity: 1;
        }

        .inputGroup input:checked~label:after {
            background-color: #54E000;
            border-color: #54E0C7;
        }

        .inputGroup input {
            width: 32px;
            height: 32px;
            order: 1;
            z-index: 2;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            visibility: hidden;
        }

        .form {
            padding: 0 16px;
            max-width: 550px;
            margin: 50px auto;
            font-size: 18px;
            font-weight: 600;
            line-height: 36px;
        }

        body {
            background-color: #54E0C7;
            font-family: 'Fira Sans', sans-serif;
        }

        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }

        html {
            box-sizing: border-box;
        }

        code {
            background-color: #9AA3AC;
            padding: 0 8px;
        }
    </style>


    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body text-center">
                <h1><i class="fab fa-node-js fa-3x"></i></h1>
                <div class="contents">
                    <form class="form" action="voter/vote" method="POST">
                        <h1>Vote to your favourite animal</h1>
                        <div class="inputGroup">
                            <input id="r1" name="vote" type="radio" value="dog" />
                            <label for="r1">dog</label>
                        </div>
                        <div class="inputGroup">
                            <input id="r2" name="vote" type="radio" value="deer" />
                            <label for="r2">deer</label>
                        </div>
                        <div class="inputGroup">
                            <input id="r3" name="vote" type="radio" value="tiger" />
                            <label for="r3">tiger</label>
                        </div>
                        <div class="inputGroup">
                            <input id="r4" name="vote" type="radio" value="lion" />
                            <label for="r4">lion</label>
                        </div>

                        <center><button type="submit" class="btn btn-primary m-2 btn-lg btn-block">Vote</button>
                        </center>
                    </form>
                </div>
                <a href="voter/result" class="btn btn-success btn-block mb-2">View Result</a>
            </div>
        </div>
    </div>



    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
</body>

</html>